<!DOCTYPE html>
<!-- build:[manifest] game.appcache -->
<html lang="en" ng-app="myApp" ng-strict-di>
<!-- /build -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ 'CHINESECHECKER_GAME' | translate }}</title>
  <meta name="description" content="Chinese Checker game">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js"></script>
  <!-- /build -->

  <!-- For the game rules/instructions, I use carousel from Angular UI + Bootstrap -->
  <!-- build:css http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
  <!-- /build -->
  <!-- build:js http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.min.js -->
  <script crossorigin="anonymous" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-touch.js"></script>
  <!-- /build -->
  <!-- build:js http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js -->
  <script crossorigin="anonymous" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>
  <!-- /build -->

  <!--Enable the drag and drop in mobile device-->
  <script src="http://yoav-zibin.github.io/emulator/examples/drag_n_drop/dragAndDropListeners.js"></script>

  <!-- build:js dist/everything.min.js -->
  <script src="src/gameLogic.js"></script>
  <script src="src/game.js"></script>
  <script src="src/aiService.js"></script>
  <!-- /build -->
  
  <!-- build:js http://yoav-zibin.github.io/emulator/dist/gameServices.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/alphaBetaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/resizeGameAreaService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/gameService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/messageService.js"></script>
  <script src="http://yoav-zibin.github.io/emulator/stateService.js"></script>
  <!-- /build -->

  <script src="languages/en.js"></script>
  <!-- build:js http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.2.6.1.min.js -->
  <script src="http://yoav-zibin.github.io/emulator/angular-translate/angular-translate.2.6.1.js"></script>
  <!-- /build -->

  <script>window.angularTranslationLanguages = ['en', 'zh'];</script>
  <link rel="stylesheet" type="text/css" href="game.css">
  <link rel="stylesheet" type="text/css" href="http://yoav-zibin.github.io/emulator/main.css">
</head>
<body ng-cloak ng-controller="Ctrl">

 <div id="gameArea">
  <section id="board">
  <img style="position:relative; border: 1px solid ;z-index: -1 ;width :100%; height:100%;" src="img/GoodBoard.png">

  <div ng-repeat="row in board track by $index">
        <div ng-repeat="cell in row track by $index" 
        ng-click="cellClicked(board.indexOf(row),$index)" 
        ng-style="{'position':'absolute','top':setPagePositionTop(board.indexOf(row), $index), 'left':setPagePosition($index, board.indexOf(row)) }" 
        ng-class="{boxShape: cell}" >       
          <div id="myPiece_{{board.indexOf(row)}}x{{$index}}"
          ng-class="{'checkerShapeO': getCellTypeO(board.indexOf(row), $index), 'checkerShapeX': getCellTypeX(board.indexOf(row), $index), 
          boxGreen: selectedPosition[0][0]==board.indexOf(row) && selectedPosition[0][1]==$index , 
           'move_up_left' :board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&ul,
           'move_up_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&ur,
           'move_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&r,
           'move_left': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&l,
           'move_down_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&dr,
           'move_down_left': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&dl,
           'jump_up_left' :board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jul,
           'jump_up_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jur,
           'jump_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jr,
           'jump_left': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jl,
           'jump_down_right': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jdr,
           'jump_down_left': board.indexOf(row)==ani_point[0]&&$index==ani_point[1]&&jdl,
           'jumped':board.indexOf(row)==ani_point[0]&&$index==ani_point[1] }"
           ng-style="{'position':'relative'}"
           ></div> 

        </div>
    </div>
  	
  </img>
  </section>
</div>

</body>
</html>
